.bordes_jumbo {
    border-radius: 0px 0px 30px 30px !important;
}

footer {
    background-color: rgb(238, 238, 238);
    text-align: center;
    padding: 1rem;
    border-radius: 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
